numpy
scipy
torch==2.0.1
pytorch-lightning==1.9.5
pyarrow
pandas
pytest
tqdm
seaborn
black==24.1.1
geometry-score @ git+https://github.com/KhrulkovV/geometry-score
msid @ git+https://github.com/xgfs/imd
# ripserplusplus @ git+https://github.com/simonzhang00/ripser-plusplus.git
rtd @ git+https://github.com/IlyaTrofimov/RTD.git
torch_geometric
ogb
six
tensorboard
matplotlib
scikit-learn
pre-commit>=2.15.0
# randaugment==1.0.2
gitpython
xmltodict
torchmetrics
PyYaml>=5.4.1
pyDeprecate
chardet
setuptools
plotly
loguru
jsonlines
hydra-core
ipykernel
ipywidgets
Cython
gudhi
torcheval
openpyxl
lightning-bolts
tensorboardX
munch==2.5.0
gdown
einops